.react-datepicker {
  @apply overflow-hidden rounded border-gray-200 shadow-2xl;
}

.react-datepicker-popper[data-placement^="bottom"] {
  @apply pt-1;
}

.react-datepicker__navigation {
  @apply mt-2;
}

.react-datepicker__current-month {
  @apply text-sm font-normal leading-5 text-gray-900;
}

.react-datepicker__day-name {
  @apply m-1 h-7 w-7 py-1 text-sm font-normal text-gray-900;
}

.react-datepicker__month-container {
  @apply bg-gray-100;
}

.react-datepicker__header {
  @apply border-gray-200 bg-gray-50 p-2;
}

.react-datepicker__day {
  @apply m-1 h-7 w-7 rounded py-1 text-sm font-semibold text-gray-900/50 transition hover:rounded hover:bg-white/50 focus:outline-none;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-gray-200 text-gray-900/50 ring-1 ring-gray-300 transition hover:bg-white/50;
}

.react-datepicker__day--selected {
  @apply bg-white text-gray-900 shadow;
}

.react-datepicker__day--today {
  @apply font-bold text-gray-900;
}

.date-picker__portal .react-datepicker__input-container {
  visibility: hidden;
}
.calendar-week .fc-event {
  background: white;
  border: 1px solid white;
}
.calendar-week .fc-col-header {
  /* margin: 23px 0px 0px;
  width: 1496px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px #dddddd solid; */
  /* border-right: 1px gray solid; */
}
.calendar-week .fc-day {
  /* width: 240px;
    padding: 0 5px;
    border-right: 1px solid #dddddd; */
}
.calendar-week tr[role="row"] {
  /* display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column; */
}
.calendar-week .fc-daygrid-day {
  /* height: 100vh; */
}
.calendar-week .fc-col-header-cell {
  font-weight: 500;
  text-transform: uppercase;
  padding: 2px 0;
}
.rbc-time-view .rbc-label {
  display: none;
}
.rbc-time-view .rbc-time-content {
  display: none;
}
.rbc-time-view .rbc-row-content {
  height: 100vh;
}
.calendar-week .rbc-toolbar {
  display: none;
}
.calendar-week .rbc-time-header-cell {
  height: 34px;
}
.rbc-day-bg {
  background: rgb(250, 250, 250);
}
.calendar-week .rbc-event {
  background: none;
  padding: 0;
  box-shadow: 0px 5px 5px rgba(81, 81, 81, 0.14);
}
.calendar-week .rbc-header {
  background: rgb(250, 250, 250);

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
.calendar-week span[role="columnheader"] {
  text-transform: uppercase;
}
.calendar-week .rbc-event.rbc-selected {
  background-color: transparent !important;
}
.calendar-week .rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: none !important;
}
